/** CSS STYLE **/

* {
  box-sizing: border-box;

  --header-height: 60px;
  --section-padding: 60px;

  --base-color-text: #303846;
  --secondary-color-text: #FFFFFF;

  --base-background: #FFFFFF;
  --secondary-background: #f7f7f7;

  --action-border: #FFFFFF;

  --form-color: #6cdcc0;
  --form-input: #e6e6e6;

  --footer-background: #303846;

  --font-size-base: 16px;
  --font-size-secondary: 1em;
  --font-size-h1: 3em;
  --font-size-h2: 1.8em;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body, a, select, input {
  color: var(--base-color-text);
  font-family: Arial, sans-serif;
  font-size: var(--font-size-base);
  line-height: 1.5;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

h1 {
  font-size: var(--font-size-h1);
  margin: 0;
}

h2 {
  font-size: var(--font-size-h2);
  margin: 0 0 .5em 0;
}

section, footer {
  align-items: center;
  background: var(--base-background);
  display: flex;
  padding: var(--section-padding) 0;
}

.header {
  align-items: center;
  background: var(--base-background);
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  padding: 5px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.logo-block {
  align-items: center;
  display: flex;
}

.logo {
  background: url('../images/logo.svg');
  background-size: contain;
  height: 50px;
  margin-right: 10px;
  width: 50px;
}

.label {
  font-weight: bold;
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
}

.menu-item {
  list-style-type: none;
  margin-right: 16px;
}

.main {
  padding-top: var(--header-height);
}

.info-block {
  background: url('../images/banner.png') no-repeat center;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
}

.wrap-info-block {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 1000px;
}

.info-logo {
  background: url('../images/logo.svg');
  background-size: contain;
  height: 200px;
  margin-bottom: 20px;
  width: 200px;
}

.info-title {
  color: var(--secondary-background);
}

.info {
  color: var(--secondary-background);
  font-weight: bold;
  line-height: 36px;
  margin: 0;
}

.action {
  background: transparent;
  border: 1px solid var(--action-border);
  border-radius: 5px;
  color: var(--secondary-background);
  cursor: pointer;
  font-size: var(--font-size-secondary);
  font-weight: bold;
  height: 38px;
  line-height: 38px;
  outline: none;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
  width: 150px;
}

.anchor {
  position: absolute;
  top: calc(var(--section-padding) * -1);
  left: 0;
}

.advantage-block {
  justify-content: center;
  position: relative;
}

.advantage-wrap {
  display: flex;
  justify-content: center;
  width: 1000px;
}

.advantage-item {
  padding: 0 30px;
  flex: 1 1 auto;
  width: 410px;
}

.about-block, .recreation-block {
  background: var(--secondary-background);
  justify-content: center;
  position: relative;
}

.recreation-block {
  background: var(--base-background);
}

.content {
  display: flex;
  justify-content: space-between;
  width: 1000px;
}

.text-wrap {
  width: 450px;
}

.about-img {
  background: url('../images/moon-1.jpg') no-repeat center;
}

.recreation-img {
  background: url('../images/moon-2.jpg') no-repeat center;
}

.image {
  background-size: contain;
  height: 200px;
  width: 300px;
}

.form-block {
  background: var(--secondary-background);
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 30px 0 0 0;
  width: 50%;
}

.form-item {
  border: solid 2px var(--form-color);
  display: flex;
  flex-direction: column;
  margin: 0 0 30px 0;
}

.legend {
  color: var(--form-color);
  font-size: 22px;
  font-weight: bold;
  line-height: 26px;
}

.field {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.form-label {
  line-height: 14px;
  font-weight: 700;
}

.input {
  background: var(--base-background);
  border: 1px solid var(--form-input);
  border-radius: 7px;
  height: 34px;
  outline: none;
  padding: 0 5px;
  width: 220px;
}

.select {
  background: var(--base-background);
  border: 1px solid var(--form-input);
  border-radius: 7px;
  height: 34px;
  outline: none;
  margin-right: 20px;
  padding: 0 5px;
  width: 200px;
}

.submit {
  border-color: var(--form-color);
  color: var(--form-color);
}

.footer {
  background: var(--footer-background);
  justify-content: space-around;
}

.footer-item {
  display: flex;
  flex-direction: column;
}

.footer-logo-wrap {
  align-items: center;
  display: flex;
  margin-bottom: 20px;
}

.footer-logo {
  background: url('../images/logo.svg');
  background-size: contain;
  height: 40px;
  margin-right: 10px;
  width: 40px;
}

.copyright {
  color: var(--secondary-background);
}

.footer-title {
  color: var(--secondary-background);
  font-weight: 700;
}

.footer-label {
  color: var(--secondary-background);
  font-size: var(--font-size-secondary);
}

.footer-list {
  margin: 10px 0;
}

.footer-list-item {
  color: var(--secondary-background);
  cursor: pointer;
  line-height: 24px;
  font-weight: 700;
}
