/** CSS STYLE **/
body, a, select, input {
  color: #000000;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.header {
  align-items: center;
  background: #FFFFFF;
  box-sizing: border-box;
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 5px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.logo-block {
  align-items: center;
  display: flex;
}

.logo {
  background: url('../images/logo.svg');
  background-size: contain;
  height: 60px;
  margin-right: 10px;
  width: 60px;
}

.label {
  font-weight: 700;
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
}

.menu-item {
  list-style-type: none;
  margin-right: 16px;
}

.menu-item > a {
  font-weight: 500;
}

.title {
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
}

.text {
  font-size: 20px;
  line-height: 24px;
}

.info-block {
  align-items: center;
  background: url('../images/banner.png') no-repeat center;
  background-position-y: -568px;
  display: flex;
  flex-direction: column;
  height: 360px;
  justify-content: center;
  margin-top: 60px;
  padding: 60px 0;
}

.info-logo {
  background: url('../images/logo.svg');
  background-size: contain;
  height: 200px;
  margin-bottom: 20px;
  width: 200px;
}

.info-title {
  color: #FFFFFF;
  font-size: 35px;
  font-weight: 700;
  line-height: 35px;
  margin: 0;
}

.info {
  color: #FFFFFF;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
}

.button {
  background: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: 700;
  height: 38px;
  line-height: 38px;
  outline: none;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
}

.anchor {
  position: absolute;
  top: -80px;
  left: 0;
}

.advantage-block {
  align-items: center;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  padding: 60px 0;
  position: relative;
}

.advantage-wrap {
  display: flex;
  justify-content: center;
}

.advantage-item {
  box-sizing: border-box;
  padding: 0 30px;
  width: 410px;
}

.about-block {
  background: #f7f7f7;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 60px 0;
  position: relative;
}

.about {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  width: 550px;
}

.about-img {
  background: url('../images/moon-1.jpg') no-repeat center;
  background-size: cover;
  height: 240px;
  width: 400px;
}

.recreation-block {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 60px 0;
  position: relative;
}

.recreation-wrap {
  display: flex;
  flex-direction: column;
  margin-left: 120px;
  width: 550px;
}

.recreation-img {
  background: url('../images/moon-2.jpg') no-repeat center;
  background-size: cover;
  height: 270px;
  width: 400px;
}

.form-block {
  align-items: center;
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 0;
  position: relative;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 30px 0 0 0;
}

.form-item {
  border: solid 2px #6cdcc0;
  display: flex;
  flex-direction: column;
  margin: 0 0 30px 0;
  width: 400px;
}

.legend {
  color: #6cdcc0;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
}

.field {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.form-label {

  line-height: 14px;
  font-weight: 700;
}

.input {
  background: #FFFFFF;
  border: 1px solid #e6e6e6;
  border-radius: 7px;
  box-sizing: border-box;
  height: 34px;
  outline: none;
  padding: 0 5px;
  width: 220px;
}

.select {
  background: #FFFFFF;
  border: 1px solid #e6e6e6;
  border-radius: 7px;
  box-sizing: border-box;
  height: 34px;
  outline: none;
  margin-right: 20px;
  padding: 0 5px;
  width: 200px;
}

.submit {
  background: #FFFFFF;
  border: 1px solid #6cdcc0;
  border-radius: 10px;
  color: #6cdcc0;
  cursor: pointer;

  font-weight: 700;
  height: 36px;
  outline: none;
  width: 128px;
}

.footer {
  align-items: center;
  background: #303846;
  display: flex;
  height: 300px;
  justify-content: space-around;
}

.footer-item {
  display: flex;
  flex-direction: column;
}

.footer-logo-wrap {
  align-items: center;
  display: flex;
  margin-bottom: 20px;
}

.footer-logo {
  background: url('../images/logo.svg');
  background-size: contain;
  height: 40px;
  margin-right: 10px;
  width: 40px;
}

.copyright {
  color: #FFFFFF;
}

.footer-title {
  color: #FFFFFF;
  font-weight: 700;
}

.footer-label {
  color: #FFFFFF;
}

.footer-list {
  margin: 10px 0;
}

.footer-list-item {
  color: #FFFFFF;
  cursor: pointer;
  line-height: 24px;
  font-weight: 700;
}
