/** CSS STYLE **/

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.logo-block {
  align-items: center;
  display: flex;
}

.logo {
  background: url('../images/logo.svg');
  background-size: contain;
  height: 40px;
  margin-right: 10px;
  width: 40px;
}

.label {
  font-size: 10px;
  line-height: 10px;
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
}

.menu-item {
  font-size: 10px;
  line-height: 10px;
  list-style-type: none;
  margin-right: 10px;
}

.info-block {
  align-items: center;
  background: url('../images/banner.png') no-repeat center;
  display: flex;
  flex-direction: column;
  height: 325px;
  justify-content: center;
}

.info-logo {
  background: url('../images/logo.svg');
  background-size: contain;
  height: 140px;
  width: 140px;
}

.title {
  color: #FFFFFF;
  font-size: 28px;
  line-height: 30px;
  margin: 0;
}

.info {
  color: #FFFFFF;
  font-size: 12px;
  line-height: 36px;
  margin: 0;
}

.button {
  background: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 12px;
  height: 38px;
  line-height: 38px;
  outline: none;
  width: 132px;
}
